.goods__title {
  color: @light-gray;
  text-decoration: none;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: -1;
  text-align: left;
  width: 80px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    width: 140px;
    margin-top: 129px;
  }
}
