.interract {
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  text-align: center;
  @media (min-width: @tablet) {
  font-size:20px;
  }
}
@import "__button/interract__button.less";
