.intro__cat {
  width: 100vw;
  height: 302px;
  background-repeat: no-repeat;
  background-image: url(../../../../../../img/cat-background-mobile.jpg);
  @media (min-width: @tablet) {
    display: none;
  }
  @media (min-width: @desktop) {
    display: block;
    background-image: url(../../../../../../img/cat-background.jpg);
    width: 50%;
    height: 696px;
    background-size: cover;
    position: absolute;
    top: -139px;
    right: 0;
  }
}
