.benefit-card__text {
  font-family: "Arial", sans-serif;
  color: @dark-gray;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  box-sizing: border-box;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  min-height: 136px;
  border-bottom: 1px solid @line;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-right: 0;
    padding-top: 5px;
    border: none;

    &--slim {
      padding-right: 0;
      width: 377px;
    }

    &--pro {
      width: 340px;
      padding-right: 0;
    }
  }

  @media (min-width: @desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    width: 467px;
    padding-bottom: 25px;
    min-height: auto;
  }
}
