.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 280px;
  margin-top: 27px;
  margin-bottom: 48px;
  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    flex-basis: 100%;
    margin-top: 47px;
    margin-bottom: 164px;
    width: 708px;
  }
  @media (min-width: @desktop) {
    margin-top: 60px;
    width: 1220px;
  }
}
