.feedback__title {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    padding-top: 55px;
  }

  @media (min-width: @desktop) {
    padding-top: 64px;
  }
}
