.other__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @light-gray;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  margin-top: 13px;
  margin-bottom: 14px;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: @desktop) {
    flex-basis: 325px;
  }
}
