.comment__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  padding: 0;
  &::after {
    left: 141px;
  }
  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 77px;
    &::after {
      left: 220px;
      top: 23px;
    }
    &::before {
      right: 106%;
      top: 23px;
    }
  }
  @media (min-width: @desktop) {
    &::before {
      right: 103%;
    }
  }
}
