.user-email__form {
  border: 1px solid @border;
  width: 219px;
  height: 45px;
  box-sizing: border-box;
  @media (min-width: @tablet) {
    width: 551px;
    height: 52px;
  }
  @media (min-width: @desktop) {
    width: 486px;
  }
}
