.aside__icon {
  position: absolute;
  top: 60px;
  left: 101px;
  @media (min-width: @tablet) {
    left: 78px;
    top: 59px;
  }
  @media (min-width: @desktop) {
    left: 86px;
    top: 58px;
  }
}
