.benefits {
  margin-bottom: 25px;
  @media (min-width: @tablet) {
    margin-bottom: 47px;
  }
  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-bottom: 72px;
  }
}
