.user-phone__form {
  border: 1px solid @border;
  width: 204px;
  height: 45px;
  box-sizing: border-box;
  @media (min-width: @tablet) {
    width: 535px;
    height: 52px;
  }
  @media (min-width: @desktop) {
    width: 472px;
  }
}
