.goods__image {
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 25px;

  @media (min-width: @tablet) {
    position: absolute;
    bottom: 303px;
    left: 82px;
  }

  @media (min-width: @desktop) {
    bottom: 303px;
    left: 40px;
  }
}
