.features-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 230px 245px;
    grid-template-rows: repeat(2, main-content);
    grid-gap: 67px 155px;
    counter-reset: list;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
