.features-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 230px 245px;
    grid-template-rows: 195px 195px;
    grid-gap: 125px 155px;
    counter-reset: list;
  }
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
