.features-list {
  margin: 0;
  padding: 0;
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 190px 190px;
    gap: 120px 150px;
  }
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    flex-basis: 230px;
  }
}
