.comment__area {
  font-size: 16px;
  line-height: 18px;
  color: @dark-gray;
  resize: none;
  border: 1px solid @border;
<<<<<<< Updated upstream
  min-width: 280px;
  min-height: 150px;
=======
<<<<<<< Updated upstream
  width: 280px;
=======
  min-width: 280px;
>>>>>>> Stashed changes
  height: 150px;
>>>>>>> Stashed changes
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 14px;
  text-transform: uppercase;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
<<<<<<< Updated upstream
    min-width: 631px;
    min-height: 174px;
  }
  @media (min-width: @tablet) {
    min-width: 1220px;
    min-height: 174px;
=======
<<<<<<< Updated upstream
    width: 631px;
    height: 174px;
  }
  @media (min-width: @tablet) {
    width: 1220px;
    height: 174px;
=======
    flex-basis: 630px;
    min-width: 630px;
    min-height: 174px;
    padding: 10px 19px;
  }
  @media (min-width: @desktop) {
    min-width: 1220px;
    min-height: 174px;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  }
}
