.comment__area {
  font-size: 16px;
  line-height: 18px;
  color: @dark-gray;
  resize: none;
  border: 1px solid @border;
  min-width: 280px;
  min-height: 150px;
  box-sizing: border-box;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    min-width: 631px;
    min-height: 174px;
  }
  @media (min-width: @tablet) {
    min-width: 1220px;
    min-height: 174px;
  }
}
