.benefit-card__image {
  background-color: @green;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  top: 15px;
  margin: 0;
  margin-left: 22px;
  @media (min-width: @tablet) {
    height: 200px;
    width: 200px;
    align-self: flex-end;
    margin-left: 0;
  }
  @media (min-width: @desktop) {
    height: 100px;
    width: 100px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.slim > img {
  width: 50px;
  height: 53px;
  bottom: 3px;
  position: absolute;
  @media (min-width: @tablet) {
    width: 140px;
    height: 192px;
    left: 38px;
    bottom: 13px;
  }
  @media (min-width: @desktop) {
    width: 70px;
    height: 97px;
    left: 16px;
    bottom: 8px;
  }
}

.pro > img {
  width: 67px;
  height: 28px;
  position: absolute;
  top: 11px;
  left: -9px;
  @media (min-width: @tablet) {
    width: 268px;
    height: 112px;
    top: 50px;
    left: -30px;
  }
  @media (min-width: @desktop) {
    width: 134px;
    height: 56px;
    top: 20px;
    left: -16px;
  }
}
