.example {
  background-color: @example;
  position: relative;
  @media (min-width: @tablet) {
    background-color: @white;
    margin-bottom: 225px;
  }
  @media (min-width: @desktop) {
    background-color: inherit;
  }
}
@import "__text/example__text.less";
