.user-phone {
  font-size: 16px;
  line-height: 18px;
  color: @dark-gray;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;

  &:hover &__form {
    border-color: @outline;
  }

  &:focus &__form {
    border-color: @dark-gray;
  }

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    flex-grow: 0;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop) {
    width: auto;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 65px;
  }
}

@import "__form/user-phone__form.less";
@import "__icon/user-phone__icon.less";
