.copyright {
  padding-top: 17px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover &__logo path {
    fill: @green;
  }
  &:active &__logo path,
  &:active &__link {
    fill: @green;
    opacity: 0.3;
  }
  @media (min-width: @tablet) {
    justify-content: flex-end;
    padding-top: 45px;
  }
}
@import "__link/copyright__link.less";
@import "__logo/copyright__logo.less";
