.copyright {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet) {
    justify-content: flex-end;
  }
}
@import "__link/copyright__link.less";
@import "__logo/copyright__logo.less";
