.aside__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  position: absolute;
  bottom: 28px;
  left: 58px;
  width: 161px;
  text-align: center;
  @media (min-width: @tablet) {
    text-align: left;
    left: 423px;
    bottom: 53px;
  }
  @media (min-width: @desktop) {
    text-align: center;
    left: 41px;
    bottom: 30px;
  }
}
