.info__text {
  color: @invite;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  flex-basis: 50%;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 22px;
    width: 171px;
  }

  @media (min-width: @desktop) {
    padding-left: 35px;
  }
}
