.other__button {
  grid-column-start: 1;
  grid-column-end: -1;
  line-height: 40px;
  height: 40px;
  font-size: 16px;

  @media (min-width: @tablet) {
    flex-basis: 100%;
  }

  @media (min-width: @desktop) {
    flex-basis: 244px;
    min-width: 244px;
  }
}
