.menu__link {
  width: 34px;
  height: 38px;
  background-image: url(../../../../../img/logo-mobile.svg);

  @media (min-width: @tablet) {
    width: 174px;
    height: 52px;
    background-image: url(../../../../../img/logo-tablet.svg);
  }
  @media (min-width: @desktop) {
    width: 202px;
    height: 59px;
    background-image: url(../../../../../img/logo-desktop.svg);
  }
}
