.info__address {
  color: @dark-gray;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  padding: 0;
  flex-basis: 50%;

  @media (min-width: @tablet) {
    font-size: 16px;
    width: 159px;
    text-align: right;

    div:last-of-type {
      padding-top: 20px;
    }
  }

  @media (min-width: @desktop) {
    text-align: start;
    padding-left: 49px;
    padding-top: 14px;
  }
}
