.bar__title {
  width: 101px;
  height: 18px;
  padding-right: 10px;
  background-image: url("../img/cat-energy-header.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet) {
    display: none;
  }
}
