.goods {
  display: grid;
  grid-template-columns: repeat(2, 140px);
<<<<<<< Updated upstream
  grid-template-rows: repeat(2, 1fr) 40px;
=======
<<<<<<< Updated upstream
  grid-template-rows:repeat(2, 1fr) 40px;
=======
  grid-template-rows: 60px 1fr 1fr;
  position: relative;
  height: 209px;
  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: @gray-hover;
    background-size: contain;
    position: absolute;
    top: -10px;
    left: -20px;
  }
  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: @gray-hover;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: -20px;
  }

>>>>>>> Stashed changes
>>>>>>> Stashed changes
  @media (min-width: @tablet) {
    width: 324px;
    height: 430px;
    background-color: @gray;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
<<<<<<< Updated upstream
    justify-content: space-between;
    // margin-left: 60px;
    // &:nth-child(even){
    //   margin-left: 0;
    // }
=======
<<<<<<< Updated upstream
    justify-content: space-evenly;
=======
    flex-direction: row;
    justify-content: center;
    margin-bottom: 140px;
    align-items: flex-end;
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      margin-bottom: 77px;
    }
    &::before,
    &::after {
      display: none;
    }
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  }

  @media (min-width: @desktop) {
    width: 245px;
<<<<<<< Updated upstream
    // margin-left: 80px;
    // &:nth-of-type(even) {
    //   margin-left: 0;
    // }

=======
<<<<<<< Updated upstream
=======
    margin-bottom: 145px;
    &:nth-last-child(2) {
      margin-bottom: 70px;
    }
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  }
}
@import "__title/goods__title.less";
@import "table/table.less";
@import "__image/goods__image.less";
@import "__button/goods__button.less";
