.goods {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 60px 1fr 1fr;
  position: relative;
  min-height: 209px;

  &::before {
    content: "";
    width: 200vw;
    height: 1px;
    background-color: @gray-hover;
    background-size: contain;
    position: absolute;
    top: -10px;
    left: -100%;
  }

  &::after {
    content: "";
    width: 200vw;
    height: 1px;
    background-color: @gray-hover;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: -100%;
  }

  @media (min-width: @tablet) {
    width: 324px;
    min-height: 430px;
    background-color: @gray;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 141px;
    align-items: flex-end;

    &:nth-last-of-type(2) {
      margin-bottom: 68px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop) {
    width: 245px;

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      margin-bottom: 79px;
    }
  }
}

@import "__title/goods__title.less";
@import "table/table.less";
@import "__image/goods__image.less";
@import "__button/goods__button.less";
@import "link/link.less";
