.example-result__item {
  font-weight: 400;
  width: 124px;
  height: 64px;
  b {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }
  span {
    color: @dark-gray;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
  }
}
