.cat-name__form {
  border: 1px solid @border;
  width: 229px;
  height: 45px;
  box-sizing: border-box;
  @media (min-width: @tablet) {
    width: 567px;
    height: 52px;
  }
  @media (min-width: @desktop) {
    width: 506px;
  }
}
