.catalog {
  display: flex;
  flex-wrap: wrap;
<<<<<<< Updated upstream
  justify-content:space-between;
=======
  justify-content: space-between;
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
>>>>>>> Stashed changes
}
