.show-more__title {
  font-size: 16px;
  line-height: 20px;
  color: @invite;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 0;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 20px;
  }
}
