.intro__food {
  position: absolute;
  top: 167px;
  left: 0;
  width: 100%;

  @media (min-width: @tablet) {
    top: 250px;
    left: 0;
  }
  @media (min-width: @desktop) {
    top: 10px;
    left: 115px;
  }
}
