.features {
  margin-bottom: 40px;

  @media (min-width: @tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 50px;
  }
}

@import "__title/features__title.less";
