.slider-list__item {
  width: 35px;
  height: 6px;
  background-color: @green;
  border-radius: 6px;
  position: absolute;
  display: none;

  &--before {
    top: 3px;
    left: 5px;
  }

  &--after {
    top: 3px;
    right: 5px;
  }

  &--current {
    display: block;
  }

  @media (min-width: @tablet) {
    display: none;
  }
}
