.radio {
  font-size: 16px;
  line-height: 18px;
  color: @light-gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    border: 1px solid @border;
    width: 630px;

  }
  @media (min-width: @desktop) {
    margin: 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
