.slider {
  @media (max-width: @mobile) {
    & > &--current {
      display: block;
    }
  }

  @media (min-width: @tablet) {
    height: 462px;
    position: relative;
  }

  @media (min-width: @desktop) {
    width: 690px;
    margin-left: 17px;
  }
}

@import "__after/slider__after.less";
@import "__before/slider__before.less";
