.flex-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;

  @media (min-width: @tablet) {
    width: 708px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 5px;
    width: 1220px;
  }
}
