.radio-button {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 25px;

  @media (min-width: @tablet) {
    padding-bottom: 22px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  & input + &__point {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid @outline;
    top: -5px;
    left: 0;
    box-sizing: border-box;
    border-radius: 50%;
    filter: @light-shadow;
    cursor: pointer;

    @media (min-width: @tablet) {
      width: 40px;
      height: 40px;
      top: -5px;
      left: 0;
    }
  }

  & input:checked + &__point::after {
    content: "";
    position: absolute;
    background-color: @green;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 7px;
    left: 7px;

    @media (min-width: @tablet) {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }

  & input:hover + &__point {
    filter: @shadow;
  }

  & input:active + &__point,
  & input:focus + &__point {
    border-color: @green;
    filter: @dark-shadow;
  }

  & input:disabled + &__point + &__title,
  & input:disabled + &__point::after {
    opacity: 0.3;
  }
}

@import "__title/radio-button__title.less";
