.main-nav {
  display: none;
  width: 100%;
  @media (min-width: @tablet) {
    display: block;
    flex-basis: 66%;
    padding-top: 6px;
  }
  @media (min-width: @desktop) {
    flex-basis: 50%;
    z-index: 5;
  }
}
