.comment {
  margin-bottom: 23px;
  flex-basis: 100%;

  @media (min-width: @tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 69px;
  }
}

@import "__title/comment__title.less";
@import "__area/comment__area.less";
