.cat-weight__form {
  border: 1px solid @border;
  width: 172px;
  height: 45px;
  box-sizing: border-box;
  @media (min-width: @tablet) {
    width: 497px;
    height: 52px;
  }
  @media (min-width: @desktop) {
    width: 436px;
  }
}
