.slider__before {
  display: none;
  @media (min-width: @tablet) {
    display: block;
    position: absolute;
    top: -190px;
    left: 35px;
  }
  @media (min-width: @desktop) {
    left: -40px;
    top: -225px;
  }
}
