.aside {
  position: relative;
  margin-bottom: 75px;
  @media (min-width: @desktop) {
    flex-basis: 245px;
    align-self: center;
    margin-top: 115px;
  }
}
@import "__text/aside__text.less";
@import "__image/aside__image.less";
@import "__icon/aside__icon.less";
