.cat-info {
  display: flex;
  justify-content: space-between;
  height: 346px;
  text-transform: uppercase;
  margin-bottom: 23px;
  @media (min-width: @tablet) {
    flex-basis: 630px;
    margin-bottom: 192px;
  }
  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 568px 568px;
    grid-template-rows: repeat(3, 52px);
    height: 200px;
    gap: 20px 80px;
    margin-bottom: 66px;
  }
}
@import "cat-name/cat-name.less";
@import "cat-weight/cat-weight.less";
@import "cat-old/cat-old.less";
@import "radio/radio.less";
