.show-more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 5px;
  height: 208px;
  &--br {
    display: none;
    @media (min-width: @tablet) {
      display: block;
    }
  }
  &::after {
    content: "";
    width: 200vw;
    height: 1px;
    background-color: @gray-hover;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    left: -100%;
  }
  @media (min-width: @tablet) {
    width: 324px;
    height: 430px;
    box-sizing: border-box;
    border: 1px solid @border;
    margin: 0;
    &::after {
      display: none;
    }
  }
  @media (min-width: @desktop) {
    width: 245px;
  }
}
@import "__title/show-more__title.less";
@import "__text/show-more__text.less";
@import "__link/show-more__link.less";
@import "__plus/show-more__plus.less";
