.checkbox__submit {
  min-width: 280px;
  margin-bottom: 7px;
  line-height: 40px;
  @media (min-width: @tablet) {
    height: 52px;
    margin-top: 15px;
    margin-left: 3px;
  }
  @media (min-width: @desktop) {
    min-width: 568px;
    margin-right: 81px;
    margin-top: 24px;
  }
}
