.user-header__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 35px;
  margin-top: 0;
  width: 70vw;
  position: relative;
  &.section__title--sideline::after {
    left: 200px;
  }
  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    &.section__title--sideline::after {
      left: 555px;
      top: 22px;
    }
    &.section__title--sideline::before {
      right: 107%;
      top: 22px;
    }
  }
  @media (min-width: @desktop) {
    margin-bottom: 76px;
    &.section__title--sideline::before {
      right: 104%;
    }
  }
}
