.preview {
  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: @gray;
    background-size: 100vw;
    height: 462px;
    &__item {
      width: 50%;
    }
  }
}
