.preview {
  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;

    &__item {
      width: 50%;
    }
  }
}
