.cat-old__form {
  border: 1px solid @border;
  width: 172px;
  height: 45px;
  box-sizing: border-box;
  flex-grow: 2;
  margin-left: 13px;
  text-transform: uppercase;
  color: @dark-gray;
  padding-left: 15px;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }
  @media (min-width: @tablet) {
    max-width: 536px;
    height: 52px;
    margin-left: 15px;
    padding-left: 18px;
  }
  @media (min-width: @desktop) {
    width: 436px;
  }
}
