.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: @tablet) {
    padding-top: 20px;
  }
  @media (min-width: @desktop) {
    padding-top: 50px;
  }
}
@import "__link/menu__link.less";
@import "__title/menu__title.less";
@import "__toggle/menu__toggle.less";
