.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-gray;
  @media(min-width:@tablet){
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
