.benefit-card {
  background-color: @gray;
  width: 280px;
  height: 266px;
}
@import "__title/benefit-card__title.less";
@import "__text/benefit-card__text.less";
@import "__link/benefit-card__link.less";
@import "__image/benefit-card__image.less";
