.benefit-card {
  background-color: @gray;
  min-width: 280px;
  min-height: 266px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  @media (min-width: @tablet) {
    display: grid;
    width: 708px;
    min-height: 372px;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 85px 1fr 85px;
    padding-left: 52px;
    padding-right: 60px;
    margin-bottom: 30px;
    padding-top: 50px;
  }
  @media (min-width: @desktop) {
    display: grid;
    width: 570px;
    grid-template-rows: 130px min-content 50px;
    grid-template-columns: 165px 265px 1fr;
    margin-bottom: 0;
  }
}
@import "__title/benefit-card__title.less";
@import "__text/benefit-card__text.less";
@import "__link/benefit-card__link.less";
@import "__image/benefit-card__image.less";
