.social-item {
  &__link {
    fill: @academy;
  }

  &__link:hover {
    fill: @green;
  }

  &__link--facebook {
    stroke: @academy;
  }

  &__link--facebook:hover {
    stroke: @green;
  }

  &__link:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet) {
    &__link--vk svg {
      width: 31px;
      height: 23px;
    }

    &__link--facebook svg {
      width: 29px;
      height: 34px;
    }

    &__link--instagramm svg {
      width: 31px;
      height: 23px;
    }
  }
}
