.site-list__item {
  list-style: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: @black;
  }
  &--index {
    a {
      color: @white;
    }
  }
}
