.slider__after {
  margin: 0 auto;
  display: none;
  width: 320px;
  padding-left: 35px;

  @media (min-width: @tablet) {
    position: absolute;
    display: block;
    top: -185px;
    left: 50%;
    margin: auto;
    padding: 0;
  }

  @media (min-width: @desktop) {
    top: -220px;
    z-index: 5;
    left: 44%;
  }
}
