.slider__after {
  display: none;
  @media (min-width: @tablet) {
    position: absolute;
    display: block;
    top: -185px;
    right: 27px;
  }
  @media (min-width: @desktop) {
    right: 70px;
    top: -220px;
    z-index: 2;
  }
}
