.list-item__image {
  background-color: @green;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet) {
    align-self: flex-start;
    height: 80px;
    width: 80px;
    margin-bottom: 32px;
  }
  @media (min-width: @desktop) {
    margin-bottom: 31px;
  }
}
